<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.esei.moneygest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moneygest">
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.RegistroActivity" android:exported="true"/>
        <activity android:name=".ui.HomeActivity" android:exported="true"/>
        <activity android:name=".ui.GastosActivity" android:exported="true"/>
        <activity android:name=".ui.IngresosActivity" android:exported="true"/>
        <activity android:name=".ui.AreaPersonalActivity" android:exported="true"/>
        <activity android:name=".ui.RegistroGastoActivity" android:exported="true"/>
        <activity android:name=".ui.RegistroIngresoActivity" android:exported="true"/>
        <activity android:name=".ui.ContactoActivity" android:exported="true"/>
        <activity android:name=".ui.FiltrosActivity" android:exported="true"/>


    </application>

</manifest>